body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
  color: #333;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #111;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navbar a:hover {
  color: #2a5298;
}

/* HERO */

.hero {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

/* PAGE */

.page {
  display: none;
  margin-top: 40px;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.page:target {
  display: block;
}
#home {
  display: block;
}

/* SEARCH BAR */

.search-bar {
  padding: 12px;
  width: 320px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* GRID */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  position: relative;
  height: 150px;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding: 15px;
  font-size: 18px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.card span {
  position: relative;
  z-index: 2;
}

/* BUTTON */

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #2a5298;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background: #1e3c72;
}

/* BACK BUTTON */

.back {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #2a5298;
  font-weight: bold;
}

/* GUIDE */

.guide {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

/* FOOTER */

.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
/* PLACE LAYOUT */

.place-container {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.place-text {
  flex: 1;
  min-width: 300px;
}

.place-image {
  flex: 1;
  text-align: center;
  min-width: 300px;
}

/* IMAGE STYLE */

.place-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  /* animation */
  animation: slideRight 1s ease;
}

/* IMAGE ANIMATION */

@keyframes slideRight {
  from {
    transform: translateX(80px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
